* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

}
:root {
    --black: #333333;
    --white: #f5f5f5;
    --background: var(--white);
    --foreground: var(--black);
    --transition: 0.5s ease;

}
body {
    display: flex;
    justify-content: center;
    width: 100vw;
  
}
.light {
    --background: var(--white);
    --transition: 0.5s ease;
}

/* LIGHT */

.light header {
    border-bottom: 3px solid var(--black);

}
.light,
.light .frame {
    --background: var(--white);

}
.light .tree li a,
.light .set li a {
    color: var(--black);
    border: 3px solid var(--black);
    --background: var(--white);

}
.light .property-menu,
.light .tree-menu,
.light .button-container {
    filter: none;

}

/* DARK */

.dark-mode header {
    border-bottom: 3px solid var(--white);

}
.dark-mode,
.dark .frame {
    background-color: var(--black);

}
.dark-mode .tree li a,
.dark-mode .set li a {
    color: var(--white);
    border: 3px solid var(--white);
    background-color: var(--black);

}
.dark-mode header img {
    filter: invert(1) grayscale(1) brightness(500%);

}
.dark-mode #datos,
.dark-mode .property-menu,
.dark-mode .tree-menu,
.dark-mode .button-container {
    filter: invert(1);

}
.frame {
    margin: 0 5%;
    width: 90%;

}
#toggle {
    margin-top: 2em;
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
                inset 0 8px 8px rgba(0, 0, 0, 0.1),
                inset 0 -4px 4px rgba(0, 0, 0, 0.1);

}
#toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 29.8px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
          inset 0 4px 4px rgba(255, 255, 255, 0.2),
          inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    transition: 0.5s;

}
#toggle.active .indicator {
    left: 30px;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
          inset 0 4px 4px rgba(255, 255, 255, 1),
          inset 0 -4px 4px rgba(255, 255, 255, 1);

}
#toggle.active {
    background: var(--black);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
          inset 0 4px 4px rgba(255, 255, 255, 0.2),
          inset 0 4px 20px rgba(255, 255, 255, 0.2);

}
#toggle.dark-mode {
    background: var(--black);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
          inset 0 4px 4px rgba(255, 255, 255, 0.2),
          inset 0 -4px 4px rgba(255, 255, 255, 0.2);

}

/*  Header  */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    width: 100%;
    padding: 1%;
    align-items: center;
    border-bottom: 3px solid var(--black);

}
header img {
    width: 10em;
    height: auto;
    display: inline-block;

}
.app-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.sidebar {
    min-width: 30rem;
    width: 30vw;
    height: 100vh;
    margin-top: 7em;
    margin-bottom: 2em;

}
#datos a {
    border-width: 0;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: var(--black);
    padding: 15px 0;
    background: none;
    text-align: center;
    text-decoration: none;
    cursor:auto;
    

}
#datos img {
    height: 37px;
    cursor: pointer;
    margin-left: 8px;
    border-radius: 5px;
    align-items: center;
    margin-top: 10px;

}
.button-container {
    height: 2.5rem;
    margin-top: 2rem;
    position: absolute;
    right: -3.8em;
    width: 15em;
    font-size: 25px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.button {
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 8px;
}

#datos img:hover,
.button:hover {
    filter: opacity(0.5);

}
.tree-menu {
    --background: var(--white);
    height: 25.7%;
    border: solid 3px #333333;
    overflow-y: auto;
    font-size: 20px;
    margin-bottom: 1.5em;
    width: 100%;

}
.tree li a,
.set li a {
    text-decoration: none;
    border: 3px solid var(--black);
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
    list-style: none;
    margin: 0 0 0.0.5em 0;
    width: 30vw;
    padding: 8px 0;
    text-align: center;
    cursor:auto;

}
.tree li a:hover,
.set li a:hover {
    background-color: #ffa500;
    color: var(--white);
    border: 3px solid #daa520;

}
ul {
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;

}
.property-menu::-webkit-scrollbar-thumb,
.tree-menu::-webkit-scrollbar-thumb {
    background-color: #9f9e9e;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;

}
.property-menu::-webkit-scrollbar,
.tree-menu::-webkit-scrollbar {
    width: 16px;

}
.property-menu {
    --background: var(--white);
    height: 28.9%;
    border: solid 3px var(--black);
    overflow-y: auto;
    width: 100%;
    margin-right: 2em;

}
.property-root {
    display: flex;
    padding: 0.5rem;
    flex-direction: row;

}
.property-root:nth-child(even) {
    background-color: lightgray;

}
.property-name {
    width: 40%;
    font-size: 22px;

}
.property-value {
    width: 60%;
    text-align: right;
    font-size: 22px;
    font-family: 'Lato', sans-serif;

}
#viewer-container {
    right: 5%;
    height: 68.8vh;
    width: 67vw;
    margin-top: 7em;
    margin-left: 3em;

}
#file-input {
    visibility: collapse;

}
ul,
#myUL {
    list-style-type: none;

}
#myUL {
    margin: 0;
    padding: 0;

}
.caret {
    cursor: pointer;
    user-select: none;

}
.caret::before {
    content: "\25B6";
    color: var(--black);
    display: inline-block;
    margin-right: 6px;
    margin-left: 10px;
    margin-top: 1rem;

}
.caret-down::before {
    transform: rotate(90deg);

}
.nested {
    display: none;
    margin-left: 1.5rem;

}
.active {
    display: block;
}

/* ---- reset ---- */
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

